nav {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #000000;
}

nav .search {
  display: inline-block;
}

nav .search input {
  width: 450px;
  height: 40px;
  padding: 6px;
  border: 1px solid #000000;
  border-radius: 5px;
}

nav .search img {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  right: 32px;
  top: 5px;
}

nav ul {
  padding: 0;
}

nav ul li {
  display: inline;
  padding-right: 42px;
}

nav .cart img {
  cursor: pointer;
  height: 30px;
  width: 30px;
  overflow: auto;
  position: relative;
  top: 10px;
}

nav .cart .count {
  width: 20px;
  height: 20px;
  position: relative;
  background: #6F4E37;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  color: #FEFEFE;
  right: 5px;
  top: -7px;
}

.logo {
  width: auto;
  display: inline-block;
}

.logo img {
  height: 30px;
  width: 30px;
}

.logo h1 {
  display: inline-block;
  font-family: 'Lora';
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  margin: 0 0 0 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Lato";
  font-style: normal;
  margin: 0;
}

body {
  margin: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 169px;
}

h1 {
  font-weight: normal;
  font-size: 60px;
  line-height: 80px;
  margin: 30px 0px 40px;
}

h2 {
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  margin: 0px;
}

.order {
  margin: 5px 0 41.5px;
}

.order button {
  background: #e1cec2;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  line-height: 32px;
  cursor: pointer;
  margin-right: 5px;
}

.product {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  max-width: 330px;
  height: 360px;
  background: #FFFFFF;
  border-radius: 5px;
}

.product h4 {
  position: static;
  width: 297px;
  height: 32px;
  left: 3px;
  margin: 0;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
}

.product button {
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  background: #FEFEFE;
  border: 1px solid #6F4E37;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin: 10px 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #3C2A1E;
}

.product .tag {
  padding: 5px;
  background: #e1cec2;
  border-radius: 5px;
  float: left;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.product .tag:nth-child(2) {
  margin: 0px 10px;
}

.product p {
  margin: 0;
}

.products {
  padding: 38px 15px 60px;
  background: #e1cec2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

main {
  background: #e1cec2;
  width: 100%;
}

nav,
.products,
header {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  padding: 0 15px;
}

footer {
  background-color: #3C2A1E;
  height: 270px;
}
/*# sourceMappingURL=catalog.css.map */