html {
    font-family: 'Lato';
    font-style: normal;
}

img {
    object-fit: cover;
    height: 169px;
}

h2 {
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    margin: 0px;
}

.order {
    button {
        background: #E1CEC2;
        border-radius: 5px;

        border: none;

        font-size: 20px;
        line-height: 32px;
        cursor: pointer;
    }
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    
    max-width: 330px;
    height: 360px;
    left: 15px;
    
    background: #FFFFFF;
    border-radius: 5px;

    h4 {
        position: static;
        width: 297px;
        height: 32px;
        left: 3px;

        margin: 0;

        font-weight: normal;
        font-size: 22px;
        line-height: 32px;
    }

    button {
        cursor: pointer;
        align-items: center;
        padding: 10px 15px;

        background: #FEFEFE;
        border: 1px solid #6F4E37;
        box-sizing: border-box;
        border-radius: 5px;

        margin: 10px 0px;

        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        text-align: center;

        color: #3C2A1E;
    }

    .tag {
        padding: 5px;

        background: #E1CEC2;
        border-radius: 5px;

        float:left;

        margin: 0;

        font-weight: normal;
        font-size: 14px;
        line-height: 16px;

        &:nth-child(2) { margin: 0px 10px; }
    }

    p {
        margin: 0;
    }
}


.products {
    padding: 38px 15px 60px 15px;
    background: #E1CEC2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

