li {
  list-style: none;
}

.navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.nav__item a {
  white-space: nowrap;
}

.nav input {
  border: 1px solid #000;
  border-radius: 5px;
  height: 40px;
  outline: none;
  padding: 6px;
  width: 100%;
}

.checkbox_toggle[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em;
  width: auto;
}

.logo img {
  height: 30px;
  width: 30px;
}

.logo h1 {
  display: inline-block;
  font-family: 'Lora';
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 0 0 10px;
}

.search,
.menu-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

.search input,
.menu-search input {
  border: 1px solid #000;
  border-radius: 5px;
  height: 40px;
  outline: none;
  padding: 6px;
  width: 100%;
}

.search img,
.menu-search img {
  cursor: pointer;
  height: 20px;
  position: relative;
  right: 32px;
  top: 10px;
  width: 20px;
}

.menu-search {
  display: none;
  margin: auto 1em;
}

.cart {
  margin-left: 1em;
}

.cart img {
  cursor: pointer;
  height: 30px;
  overflow: auto;
  position: relative;
  top: 10px;
  width: 30px;
}

.cart .count {
  background: #6f4e37;
  border-radius: 50%;
  color: #fefefe;
  height: 20px;
  line-height: 20px;
  position: relative;
  right: 5px;
  text-align: center;
  top: -7px;
  width: 20px;
}

@media (max-width: 700px) {
  .menu {
    background-color: #fff;
    display: none;
    left: 0;
    padding: 16px 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  .menu li + li {
    margin-top: 12px;
  }
  .checkbox_toggle[type=checkbox]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .menu-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search {
    display: none;
  }
  .cart {
    display: none;
  }
}

footer {
  background-color: #3C2A1E;
  height: 527px;
  color: white;
}

@media screen and (min-width: 1000px) {
  footer {
    height: 270px;
  }
}

footer .bottom {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

footer .bottom-lina {
  border: 1px solid #6F4E37;
  max-width: 100%;
}

@media screen and (min-width: 1000px) {
  footer .bottom-lina {
    max-width: 930px;
  }
}

footer div {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 30px;
}

@media screen and (min-width: 700px) {
  footer div {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

footer div section h3 {
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  margin: 15px 0 0 0;
}

@media screen and (min-width: 700px) {
  footer div section h3 {
    margin: 53px 0 0 0;
  }
}

footer div section p {
  margin: 10px 0 15px 0;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 700px) {
  footer div section p {
    margin: 10px 0 23px 0;
  }
}

footer div section .line {
  border: 1px solid #E1CEC2;
}

/*
.footer {
  //min-height: 16.875rem;

  position: static;
  width: 100%;
  height: 270px;
  left: 0px;
  top: 617px;
  background: #3C2A1E;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 0px;

}

.footer_section {
  box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding:10px 0px 25px 0px;
}


.footer_section h3 {
	border-bottom: 2px solid #E1CEC2;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color:#fff;
}

.footer_section p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-bottom:0px;
    margin-bottom:8px;
    font: 1rem sans-serif;
    color:#fff;
}

.footer_bottom {
	border-top: 1px solid #6F4E37;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 930px;
    height: 2rem;
}

 .footer_bottom p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    color:#fff;
  }
*/
.productcontainer {
  background: #e1cec2;
  width: 100%;
}

.product {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  max-width: 100%;
  height: 360px;
  background: #FFFFFF;
  border-radius: 5px;
}

@media screen and (min-width: 1000px) {
  .product {
    max-width: 330px;
  }
}

.product img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 169px;
  max-height: 169px;
}

.product h4 {
  position: static;
  width: 100%;
  margin: 0;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
}

.product button {
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  background: #FEFEFE;
  border: 1px solid #6F4E37;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin: 10px 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #3C2A1E;
}

.product .tag {
  padding: 5px;
  background: #e1cec2;
  border-radius: 5px;
  float: left;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.product .tag:nth-child(2) {
  margin: 0px 10px;
}

.product p {
  margin: 0;
}

.products {
  padding: 38px 15px 60px;
  background: #e1cec2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  max-width: 1400px;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  .products {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .products {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Lato";
  font-style: normal;
  margin: 0;
}

body {
  margin: 0;
}

nav {
  max-width: 1400px;
  margin: 0 auto;
}
/*# sourceMappingURL=catalog.css.map */