//@import 'navigation';
@import 'menu';
@import 'footer';
@import 'products';
//@import '../grid';

$accent-color: #e1cec2;
$max-width: 1400px;

* {
  box-sizing: border-box; 
}

html {
  font-family: "Lato";
  font-style: normal;
  margin: 0;
}

body {
  margin: 0;
}


nav {
  max-width: $max-width;
  margin: 0 auto;
}