.footer_section {
  box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding:10px 0px 25px 0px;
}

.footer_section :first-child {
  grid-column: 1;
}

.footer_section :nth-last-child() {
  grid-column: 5;
}

.footer_section :last-child {
  grid-column: 9;
}

.footer_section h3 {
	border-bottom: 2px solid #E1CEC2;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color:#fff;
}

.footer_section p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-bottom:0px;
    margin-bottom:8px;
    font: 1rem sans-serif;
    color:#fff;
}

.footer_bottom {
	border-top: 1px solid #6F4E37;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 930px;
    height: 2rem;
}

 .footer_bottom p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    color:#fff;
  }
