.footer {
  //min-height: 16.875rem;

  position: static;
  width: 1441px;
  height: 270px;
  left: 0px;
<<<<<<< HEAD
}

// todo: This needs to be more specific, was breaking the UI in other places
// :first-child {
//   top: 0px;
// }

// :last-child {
//   top: 247px;
// }
=======
  top: 617px;
  background: #3C2A1E;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 0px;

}
>>>>>>> ca94919a4bdc35b099bf73bd1fc1b1dc07d66858

.footer_section {
  box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding:10px 0px 25px 0px;
}


.footer_section h3 {
	border-bottom: 2px solid #E1CEC2;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color:#fff;
}

.footer_section p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-bottom:0px;
    margin-bottom:8px;
    font: 1rem sans-serif;
    color:#fff;
}

.footer_bottom {
	border-top: 1px solid #6F4E37;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 930px;
    height: 2rem;
}

 .footer_bottom p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    color:#fff;
  }
