.wrapper {
  display: grid;
  //gap: var(--gutter);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: var(--max-width);
  width: calc(100% - (2 * var(--offset)));
}

main {
  display: grid;
  //gap: var(--gutter);
  grid-template-columns: 100%;
  grid-template-rows: auto;
  //margin-bottom: var(--gutter);
}


.product-details {
  @media (min-width: 700px) {
    display: grid;
    gap: var(--gutter);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }

  margin-top: 2em;
}

.product-details__section {
  @media (min-width: 700px) {
    grid-column: span 6;
  }
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 3em;
  }

  .product-description-text {
    margin-top: 1.5em;
  }
}

.product-description {
  @media (min-width: 700px) {
    display: grid;
    gap: var(--gutter);
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }

  margin-top: 2em;
}

.product-description__section {
  @media (min-width: 700px) {
    grid-column: 3 / span 8;
  }
}

//Index sections

.indexsection {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 1fr;
  margin: 20px;

  @media screen and (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
    margin: 120px 0;
  }

  @media screen and (min-width: 1000px) {
    margin: 120px 255px;
  }

  img {
    height: 274px;
    width: 100%;
  }

  .titill {
    font-size: 36px;
    font-weight: normal;
    line-height: 48px;
  }

  p {
    margin: 11px 0 30px;

    @media screen and (min-width: 700px) {
      margin: 30px 0;
    }
  }

  a {
    background: #6f4e37;
    border: 1px solid #3c2a1e;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 15px;
  }
}

.diagonal {
  display: none;
  height: 110%;
  position: absolute;
  top: -5%;
  transform: skewY(-1.5deg);
  width: 100%;
  z-index: -1;

  @media screen and (min-width: 700px) {
    display: block;
  }

  &.d_accent {
    background-color: $accent-color;
  }
  /*&.d_white{
    background-color: #fff;
  }*/
}
