li {
  list-style: none;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.menu {
  display: flex;
  font-size: 18px;
  gap: 1em;
}

.menu li:hover {
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

.nav input {
  border: 1px solid #000;
  border-radius: 5px;
  height: 40px;
  outline: none;
  padding: 6px;
  width: 100%;
}

.checkbox_toggle[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 700px) {
  .menu {
    background-color: #fff;
    display: none;
    left: 0;
    padding: 16px 0;
    position: absolute;
    right: 0;
    text-align: center;
  }

  .menu li + li {
    margin-top: 12px;
  }

  .checkbox_toggle[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}

.logo {
  display: flex;
  width: auto;

  img {
    height: 30px;
    width: 30px;
  }

  h1 {
    display: inline-block;
    font-family: 'Lora';
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 0 10px;
  }
}
