.pontunarform {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 1fr 1fr;

  button {
    background: #6f4e37;
    border: 1px solid #3c2a1e;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
    line-height: 32px;
    margin: 50px 0;
    padding: 10px 15px;
  }

  .t1 {
    margin: 0 0 10px;
  }

  .t2 {
    margin: 30px 0 10px;
  }
}

.userupplysingar {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr;
}

input {
  border: 1px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
}

label {
  font-size: 20px;
  line-height: 32px;
}

.productitem {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  img {
    height: 85px;
    object-fit: cover;
    width: 85px;
  }

  h3,
  p {
    font-size: 22px;
    font-weight: normal;
    line-height: 32px;
    margin-left: 32px;
  }
}

.orderline {
  border: 1px solid #e1cec2;
  margin: 14px 0;
}

.samtals {
  display: flex;
  justify-content: flex-start;

  h3,
  p {
    font-size: 22px;
    font-weight: bold;
    line-height: 32px;
  }
}

.productitem:last-child {
  margin-left: auto;
}
