// taka út seinna
$accent-color: #e1cec2;
$max-width: 1400px;

.productcontainer {
  background: $accent-color;
  position: relative;
  width: 100%;

  .indextitle {
    font-size: 36px;
    font-weight: normal;
    font-weight: normal;
    line-height: 48px;
    margin: 15px 15px 0;

    @media screen and (min-width: 700px) {
      bottom: -30px;
      left: 10%;
      position: relative;
    }
  }

  .producttitle {
    font-size: 32px;
    font-weight: normal;
    line-height: 48px;
    margin: 30px 0 0 15px;
  }
}

.product {
  background: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 360px;
  justify-content: space-between;
  max-width: 100%;
  padding: 15px;

  @media screen and (min-width: 1000px) {
    max-width: 330px;
  }

  img {
    max-height: 169px;
    min-height: 169px;
    object-fit: cover;
    width: 100%;
  }

  h4 {
    font-size: 22px;
    font-weight: normal;
    line-height: 32px;
    margin: 0;
    position: static;
    width: 100%;
  }

  a {
    align-items: center;
    background: #fefefe;
    border: 1px solid #6f4e37;
    border-radius: 5px;
    box-sizing: border-box;
    color: #3c2a1e;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    margin: 10px 0;
    padding: 10px 15px;
    text-align: center;
  }

  p {
    margin: 0;
  }
}

.tag {
  background: $accent-color;
  border-radius: 5px;
  float: left;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  margin: 0;
  padding: 5px;

  &:nth-child(2) {
    margin: 0 10px;
  }
}

.products {
  background: $accent-color;
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: $max-width;
  padding: 38px 15px 60px;

  @media screen and (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
